{% extends 'base_generic.html' %}

{% block title %}<title>Таблиця контролю доступу</title>{% endblock %}

{% block content %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Працівник</th>
                <th scope="col">Час події</th>
            </tr>
        </thead>
        <tbody>
            {% for record in db_records %}
                <tr>
                    <td>{{ record.employee }}</td>
                    <td>{{ record.acs_time }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}